<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".appx" mimeType="application/appx" />
            <mimeMap fileExtension=".appxbundle" mimeType="application/appxbundle" />
            <mimeMap fileExtension=".appinstaller" mimeType="application/appinstaller" />
            <mimeMap fileExtension=".msix" mimeType="application/msix" />
            <mimeMap fileExtension=".msixbundle" mimeType="application/msixbundle" />
        </staticContent>
    </system.webServer>
</configuration>
